<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Nexmo.Csharp.Client" version="1.0.0" targetFramework="net452" />
  <add key="Nexmo.Url.Rest" value="https://rest.nexmo.com" />
  <add key="Nexmo.Url.Api" value="https://api.nexmo.com" />
  <add key="Nexmo.api_key" value="9d566d0a" />
  <add key="Nexmo.api_secret" value="aa36b6ea1ec7fb4f" />
</packages>