USE [master]
GO
/****** Object:  Database [TRV_DB]    Script Date: 20/09/2016 13:38:30 ******/
CREATE DATABASE [TRV_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRV_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSFREAKAZOID\MSSQL\DATA\TRV_DB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TRV_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSFREAKAZOID\MSSQL\DATA\TRV_DB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRV_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRV_DB]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 20/09/2016 13:38:30 ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 20/09/2016 13:38:30 ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[Canton]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Canton](
	[numeroCanton] [int] NOT NULL,
	[numeroProvincia] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PKCanton] PRIMARY KEY CLUSTERED 
(
	[numeroProvincia] ASC,
	[numeroCanton] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Distrito](
	[numeroDistrito] [int] NOT NULL,
	[numeroCanton] [int] NOT NULL,
	[numeroProvincia] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PKDistrito] PRIMARY KEY CLUSTERED 
(
	[numeroDistrito] ASC,
	[numeroCanton] ASC,
	[numeroProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[numeroProvincia] [int] NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PKProvincia] PRIMARY KEY CLUSTERED 
(
	[numeroProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ACCION]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ACCION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [varchar](50) NULL,
	[TIPO_ACCION] [varchar](50) NULL,
	[FECHA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_ASIENTO]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ASIENTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_VAGON] [int] NOT NULL,
	[TIPO] [nvarchar](50) NULL,
	[ESTADO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CLIENTE]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CLIENTE](
	[CEDULA] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[APELLIDO] [nvarchar](50) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[RESIDENCIA] [nvarchar](100) NOT NULL,
	[CORREO] [nvarchar](50) NOT NULL,
	[CONTRASENA] [nvarchar](max) NOT NULL,
	[EDAD] [int] NULL,
 CONSTRAINT [PK__TBL_CLIE__06BB8449675D9E2D] PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CLIENTES_NO_FRECUENTES]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CLIENTES_NO_FRECUENTES](
	[CEDULA] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[CORREO] [nvarchar](50) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[ESTADO] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[PROVINCIA] [nvarchar](50) NULL,
	[DISTRITO] [nvarchar](50) NULL,
	[CANTON] [nvarchar](50) NULL,
 CONSTRAINT [PK__TBL_CLIE__06BB844952E3A436] PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_CONVENIO]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CONVENIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DESCUENTO] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_EMPRESA]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EMPRESA](
	[CED_JURIDICA] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DIRECCION] [nvarchar](50) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[CORREO] [nvarchar](50) NOT NULL,
	[IMPUESTO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CED_JURIDICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_ESTACION]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ESTACION](
	[COD_ESTACION] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](250) NULL,
	[ESTADO] [nvarchar](50) NULL,
	[LONGITUD] [decimal](10, 4) NULL,
	[LATITUD] [decimal](10, 4) NULL,
	[CENTRAL] [int] NULL,
	[UBICACION] [geography] NULL,
	[KILOMETRO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_ESTACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_ESTACIONES_POR_LINEA]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ESTACIONES_POR_LINEA](
	[ID_LINEA] [int] NOT NULL,
	[ID_ESTACION] [int] NOT NULL,
 CONSTRAINT [TBL_ESTACIONES_POR_LINEA_PK] PRIMARY KEY CLUSTERED 
(
	[ID_LINEA] ASC,
	[ID_ESTACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_EXCEPCION]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EXCEPCION](
	[CODIGO] [nvarchar](100) NOT NULL,
	[MENSAJE] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_HISTORIAL]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HISTORIAL](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[CED_CLIENTE] [nvarchar](50) NOT NULL,
	[ID_TIQUETE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_HISTORIALVIAJES]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HISTORIALVIAJES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LINEA] [nvarchar](50) NOT NULL,
	[TREN] [nvarchar](50) NOT NULL,
	[ESTACION_ANTERIOR] [nvarchar](50) NULL,
	[ESTACION_SIGUIENTE] [nvarchar](50) NULL,
	[TIEMPO_ESTIMADO] [nvarchar](50) NULL,
	[ACCION] [nvarchar](50) NULL,
	[FECHA] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_HORARIOS]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_HORARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HORA_SALIDA] [nvarchar](50) NOT NULL,
	[HORA_ARRIBO] [nvarchar](50) NOT NULL,
	[FECHA_SALIDA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__tmp_ms_x__C1FF6E912E4D08B9] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_INCIDENCIA]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INCIDENCIA](
	[CODIGO] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NOT NULL,
	[DETALLE] [nvarchar](100) NULL,
	[TIPO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_LINEA]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LINEA](
	[COD_LINEA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](250) NULL,
	[COLOR] [nvarchar](50) NULL,
	[DISTANCIA] [int] NULL,
	[ESTADO] [nvarchar](50) NULL,
	[ESTACION_INICIAL] [int] NULL,
	[ESTACION_FINAL] [int] NULL,
	[HORA_TRABAJO] [int] NULL,
	[HORA_INICIO] [time](0) NULL,
	[CANT_ESTACIONES] [int] NULL,
	[COSTO_CIRCULACION] [decimal](18, 2) NULL,
	[COD_CENTRAL] [int] NULL,
	[DURACION_RECORRIDO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_LINEA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_PERMISO]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERMISO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_PERMISO_PUESTO]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERMISO_PUESTO](
	[COD_PERMISO] [int] NOT NULL,
	[COD_PUESTO] [int] NOT NULL,
 CONSTRAINT [PK_PERMISO_PUESTO] PRIMARY KEY CLUSTERED 
(
	[COD_PERMISO] ASC,
	[COD_PUESTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_PUESTO]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PUESTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_RUTA]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RUTA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LUGAR_SALIDA] [nvarchar](50) NOT NULL,
	[LUGAR_LLEGADA] [nvarchar](50) NOT NULL,
	[COD_LINEA] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_TARJETA]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TARJETA](
	[NUMERO] [nvarchar](50) NOT NULL,
	[TIPO] [nvarchar](50) NOT NULL,
	[FECHA_EXP] [date] NOT NULL,
	[CODIGO_SEG] [nvarchar](50) NOT NULL,
	[CED_CLIENTE] [nvarchar](50) NULL,
	[TITULAR] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__TBL_TARJ__7500EDCAD0B1FC1B] PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_TIPO_TIQUETE]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TIPO_TIQUETE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [nvarchar](50) NULL,
	[PRECIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_TIQUETE]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TIQUETE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_VIAJE] [int] NOT NULL,
	[ID_TIPO_TIQUETE] [int] NOT NULL,
	[ID_ASIENTO] [int] NOT NULL,
	[ID_CONVENIO] [int] NOT NULL,
	[ID_COMPRA] [int] NOT NULL,
 CONSTRAINT [PK__TBL_TIQU__3214EC27CEE6202A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_TREN]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TREN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MODELO] [nvarchar](50) NOT NULL,
	[MATRICULA] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[FECHA_COMPRA] [nvarchar](50) NULL,
	[CANT_VAGONES] [int] NULL,
	[COSTO] [decimal](18, 2) NOT NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
	[ESTADO] [nvarchar](50) NOT NULL,
	[KILOMETRO] [int] NULL,
	[COD_LINEA] [int] NULL,
 CONSTRAINT [PK__TBL_TREN__3214EC27EE4B0AA5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_USUARIO]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USUARIO](
	[CEDULA] [nvarchar](10) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[TELEFONO] [nvarchar](8) NOT NULL,
	[ID_PUESTO] [int] NULL,
	[CONTRASENA] [nvarchar](max) NULL,
	[CORREO] [nvarchar](max) NULL,
 CONSTRAINT [PK__tmp_ms_x__06BB8449CF0E7C47] PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_VAGON]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VAGON](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CANT_ASIENTOS] [int] NOT NULL,
	[ID_TREN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_VIAJE]    Script Date: 20/09/2016 13:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_VIAJE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_RUTA] [int] NOT NULL,
	[ID_TREN] [int] NOT NULL,
	[ID_HORARIO] [int] NOT NULL,
 CONSTRAINT [PK__TBL_VIAJ__3214EC2754E901FA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Canton]  WITH CHECK ADD  CONSTRAINT [FKCanton] FOREIGN KEY([numeroProvincia])
REFERENCES [dbo].[Provincia] ([numeroProvincia])
GO
ALTER TABLE [dbo].[Canton] CHECK CONSTRAINT [FKCanton]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [FKDistrito] FOREIGN KEY([numeroProvincia], [numeroCanton])
REFERENCES [dbo].[Canton] ([numeroProvincia], [numeroCanton])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [FKDistrito]
GO
ALTER TABLE [dbo].[TBL_ASIENTO]  WITH CHECK ADD FOREIGN KEY([ID_VAGON])
REFERENCES [dbo].[TBL_VAGON] ([Id])
GO
ALTER TABLE [dbo].[TBL_ESTACIONES_POR_LINEA]  WITH CHECK ADD  CONSTRAINT [TBL_ESTACION_TBL_ESTACIONES_POR_LINEA_FK] FOREIGN KEY([ID_ESTACION])
REFERENCES [dbo].[TBL_ESTACION] ([COD_ESTACION])
GO
ALTER TABLE [dbo].[TBL_ESTACIONES_POR_LINEA] CHECK CONSTRAINT [TBL_ESTACION_TBL_ESTACIONES_POR_LINEA_FK]
GO
ALTER TABLE [dbo].[TBL_ESTACIONES_POR_LINEA]  WITH CHECK ADD  CONSTRAINT [TBL_LINEA_TBL_ESTACIONES_POR_LINEA_FK] FOREIGN KEY([ID_LINEA])
REFERENCES [dbo].[TBL_LINEA] ([COD_LINEA])
GO
ALTER TABLE [dbo].[TBL_ESTACIONES_POR_LINEA] CHECK CONSTRAINT [TBL_LINEA_TBL_ESTACIONES_POR_LINEA_FK]
GO
ALTER TABLE [dbo].[TBL_HISTORIAL]  WITH CHECK ADD  CONSTRAINT [FK__TBL_HISTO__CED_C__33D4B598] FOREIGN KEY([CED_CLIENTE])
REFERENCES [dbo].[TBL_CLIENTE] ([CEDULA])
GO
ALTER TABLE [dbo].[TBL_HISTORIAL] CHECK CONSTRAINT [FK__TBL_HISTO__CED_C__33D4B598]
GO
ALTER TABLE [dbo].[TBL_HISTORIAL]  WITH CHECK ADD  CONSTRAINT [FK__TBL_HISTO__ID_TI__34C8D9D1] FOREIGN KEY([ID_TIQUETE])
REFERENCES [dbo].[TBL_TIQUETE] ([ID])
GO
ALTER TABLE [dbo].[TBL_HISTORIAL] CHECK CONSTRAINT [FK__TBL_HISTO__ID_TI__34C8D9D1]
GO
ALTER TABLE [dbo].[TBL_PERMISO_PUESTO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PERMISO_PUESTO_TBL_PERMISO] FOREIGN KEY([COD_PERMISO])
REFERENCES [dbo].[TBL_PERMISO] ([CODIGO])
GO
ALTER TABLE [dbo].[TBL_PERMISO_PUESTO] CHECK CONSTRAINT [FK_TBL_PERMISO_PUESTO_TBL_PERMISO]
GO
ALTER TABLE [dbo].[TBL_PERMISO_PUESTO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PERMISO_PUESTO_TBL_PUESTO] FOREIGN KEY([COD_PUESTO])
REFERENCES [dbo].[TBL_PUESTO] ([ID])
GO
ALTER TABLE [dbo].[TBL_PERMISO_PUESTO] CHECK CONSTRAINT [FK_TBL_PERMISO_PUESTO_TBL_PUESTO]
GO
ALTER TABLE [dbo].[TBL_RUTA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_RUTA__COD_LI__1332DBDC] FOREIGN KEY([COD_LINEA])
REFERENCES [dbo].[TBL_LINEA] ([COD_LINEA])
GO
ALTER TABLE [dbo].[TBL_RUTA] CHECK CONSTRAINT [FK__TBL_RUTA__COD_LI__1332DBDC]
GO
ALTER TABLE [dbo].[TBL_TARJETA]  WITH CHECK ADD  CONSTRAINT [FK__TBL_TARJE__CED_C__398D8EEE] FOREIGN KEY([CED_CLIENTE])
REFERENCES [dbo].[TBL_CLIENTE] ([CEDULA])
GO
ALTER TABLE [dbo].[TBL_TARJETA] CHECK CONSTRAINT [FK__TBL_TARJE__CED_C__398D8EEE]
GO
ALTER TABLE [dbo].[TBL_TIQUETE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_TIQUE__ID_AS__3A81B327] FOREIGN KEY([ID_ASIENTO])
REFERENCES [dbo].[TBL_ASIENTO] ([ID])
GO
ALTER TABLE [dbo].[TBL_TIQUETE] CHECK CONSTRAINT [FK__TBL_TIQUE__ID_AS__3A81B327]
GO
ALTER TABLE [dbo].[TBL_TIQUETE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_TIQUE__ID_TI__3B75D760] FOREIGN KEY([ID_TIPO_TIQUETE])
REFERENCES [dbo].[TBL_TIPO_TIQUETE] ([ID])
GO
ALTER TABLE [dbo].[TBL_TIQUETE] CHECK CONSTRAINT [FK__TBL_TIQUE__ID_TI__3B75D760]
GO
ALTER TABLE [dbo].[TBL_TIQUETE]  WITH CHECK ADD  CONSTRAINT [FK__TBL_TIQUE__ID_VI__3C69FB99] FOREIGN KEY([ID_VIAJE])
REFERENCES [dbo].[TBL_VIAJE] ([ID])
GO
ALTER TABLE [dbo].[TBL_TIQUETE] CHECK CONSTRAINT [FK__TBL_TIQUE__ID_VI__3C69FB99]
GO
ALTER TABLE [dbo].[TBL_TREN]  WITH CHECK ADD  CONSTRAINT [FK__TBL_TREN__COD_LI__3D5E1FD2] FOREIGN KEY([COD_LINEA])
REFERENCES [dbo].[TBL_LINEA] ([COD_LINEA])
GO
ALTER TABLE [dbo].[TBL_TREN] CHECK CONSTRAINT [FK__TBL_TREN__COD_LI__3D5E1FD2]
GO
/****** Object:  StoredProcedure [dbo].[CRE_ACCION_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_ACCION_PR]
	@P_ID_USUARIO VARCHAR(50),
	@P_TIPO_ACCION VARCHAR(50),
	@P_FECHA DATETIME
AS
	 INSERT INTO TBL_ACCION(ID_USUARIO,TIPO_ACCION,FECHA) 
	 VALUES (@P_ID_USUARIO,@P_TIPO_ACCION,@P_FECHA)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_ASIENTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_ASIENTO_PR]
	@P_ID_VAGON NVARCHAR(50),
	@P_TIPO NVARCHAR(50),
	@P_ESTADO NVARCHAR(50)

AS
	INSERT INTO TBL_ASIENTO(ID_VAGON,TIPO,ESTADO)
	VALUES (@P_ID_VAGON,@P_TIPO,@P_ESTADO)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_CLIENTE_NO_FRECUENTE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CRE_CLIENTE_NO_FRECUENTE_PR]
	@P_CEDULA NVARCHAR(50),
	@P_NOMBRE NVARCHAR(50),
	@P_APELLIDO NVARCHAR(50),
	@P_CORREO NVARCHAR(50),
	@P_TELEFONO NVARCHAR(50),
	@P_PROVINCIA NVARCHAR(50),
	@P_CANTON NVARCHAR(50),
	@P_DISTRITO NVARCHAR(50)
	
AS
BEGIN
	INSERT INTO TBL_CLIENTES_NO_FRECUENTES (CEDULA,NOMBRE,APELLIDO,CORREO,TELEFONO,PROVINCIA,CANTON,DISTRITO) VALUES (@P_CEDULA,@P_NOMBRE,@P_APELLIDO,@P_CORREO,@P_TELEFONO,@P_PROVINCIA,@P_CANTON,@P_DISTRITO)
return 0

END

SET ANSI_NULLS ON


GO
/****** Object:  StoredProcedure [dbo].[CRE_CLIENTE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CRE_CLIENTE_PR]
	@P_CEDULA NVARCHAR(50),
	@P_NOMBRE NVARCHAR(50),
	@P_APELLIDO NVARCHAR(50),
	@P_TELEFONO NVARCHAR(50),
	@P_RESIDENCIA NVARCHAR(100),
	@P_CORREO NVARCHAR(50),
	@P_CONTRASENA NVARCHAR(MAX),
	@P_EDAD INT
AS
BEGIN
	INSERT INTO TBL_CLIENTE (CEDULA,NOMBRE,APELLIDO,TELEFONO,RESIDENCIA, CORREO, CONTRASENA, EDAD) 
	VALUES (@P_CEDULA,@P_NOMBRE,@P_APELLIDO,@P_TELEFONO,@P_RESIDENCIA,@P_CORREO, @P_CONTRASENA, @P_EDAD)
return 0

END

SET ANSI_NULLS ON


GO
/****** Object:  StoredProcedure [dbo].[CRE_CONVENIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_CONVENIO_PR]
	@P_NOMBRE nvarchar(50),
	@P_DESCUENTO decimal(18,2)
AS
	 INSERT INTO TBL_CONVENIO(NOMBRE,DESCUENTO) VALUES (@P_NOMBRE,@P_DESCUENTO)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_ESTACION_POR_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_ESTACION_POR_LINEA_PR]
	@P_ID_LINEA INT,
	@P_ID_ESTACION INT
AS
	INSERT INTO TBL_ESTACIONES_POR_LINEA (ID_LINEA, ID_ESTACION)
	VALUES (@P_ID_LINEA, @P_ID_ESTACION)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_ESTACION_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_ESTACION_PR]
	@P_NOMBRE VARCHAR(250),
	@P_ESTADO VARCHAR(50),
	@P_LATITUD FLOAT(53),
	@P_LONGITUD FLOAT(53),
	@P_CENTRAL INT,
	@P_KILOMETRO INT
AS
	INSERT INTO TBL_ESTACION (NOMBRE, ESTADO, LATITUD, LONGITUD, CENTRAL, UBICACION, KILOMETRO) 
	VALUES (@P_NOMBRE, @P_ESTADO, @P_LATITUD, @P_LONGITUD, @P_CENTRAL, (geography::Parse('POINT(' + CAST(@P_LONGITUD AS VARCHAR(20)) + ' ' + CAST(@P_LATITUD AS VARCHAR(20)) + ')')), @P_KILOMETRO)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_HISTORIALVIAJE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_HISTORIALVIAJE_PR]
	@P_LINEA NVARCHAR(50),
	@P_TREN NVARCHAR(50),
	@P_ESTACION_ANTERIOR NVARCHAR(50),
	@P_ESTACION_SIGUIENTE NVARCHAR(50),
	@P_TIEMPO_ESTIMADO NVARCHAR(50),
	@P_ACCION NVARCHAR(50),
	@P_FECHA NVARCHAR(50)
AS
	INSERT INTO TBL_HISTORIALVIAJES
	VALUES (@P_LINEA, @P_TREN, @P_ESTACION_ANTERIOR, @P_ESTACION_SIGUIENTE, @P_TIEMPO_ESTIMADO, @P_ACCION, @P_FECHA)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_LINEA_PR]
	@P_NOMBRE VARCHAR(250),
	@P_COLOR VARCHAR(50),
	@P_DISTANCIA DECIMAL(18, 2),
	@P_ESTADO VARCHAR(50),
	@P_ESTACION_INICIAL INT,
	@P_ESTACION_FINAL INT,
	@P_HORA_TRABAJO INT,
	@P_HORA_INICIO VARCHAR(50),
	@P_COSTO_CIRCULACION DECIMAL(18, 2),
	@P_COD_CENTRAL INT,
	@P_DURACION_RECORRIDO INT
AS
	INSERT INTO TBL_LINEA (NOMBRE, COLOR, DISTANCIA, ESTADO, ESTACION_INICIAL, ESTACION_FINAL, HORA_TRABAJO, HORA_INICIO, COSTO_CIRCULACION, COD_CENTRAL, DURACION_RECORRIDO) 
	VALUES (@P_NOMBRE, @P_COLOR, @P_DISTANCIA, @P_ESTADO, @P_ESTACION_INICIAL, @P_ESTACION_FINAL, @P_HORA_TRABAJO, CONVERT(DATETIME,REPLACE(@P_HORA_INICIO, '.', ':')), @P_COSTO_CIRCULACION, @P_COD_CENTRAL, @P_DURACION_RECORRIDO)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_PERMISO_POR_PUESTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_PERMISO_POR_PUESTO_PR]
	@P_COD_PERMISO INT,
	@P_COD_PUESTO INT
AS
	INSERT INTO TBL_PERMISO_PUESTO (COD_PERMISO,COD_PUESTO) VALUES (@P_COD_PERMISO,@P_COD_PUESTO)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_PUESTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_PUESTO_PR]
   @P_NOMBRE NVARCHAR(50)
   AS
   INSERT INTO TBL_PUESTO (NOMBRE) VALUES (@P_NOMBRE)
return 0


GO
/****** Object:  StoredProcedure [dbo].[CRE_RUTA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_RUTA_PR]
	@P_COD_LINEA INT,
	@P_LUGAR_SALIDA INT,
	@P_LUGAR_LLEGADA INT,
	@P_NOMBRE NVARCHAR(50)

AS
	INSERT INTO TBL_RUTA(COD_LINEA,LUGAR_SALIDA,LUGAR_LLEGADA ,NOMBRE)
	VALUES (@P_COD_LINEA,@P_LUGAR_SALIDA ,@P_LUGAR_LLEGADA ,@P_NOMBRE)
RETURN 0


GO
/****** Object:  StoredProcedure [dbo].[CRE_TARJETA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CRE_TARJETA_PR]
	@P_NUMERO NVARCHAR(50),
	@P_TIPO NVARCHAR(50),
	@P_FECHA_EXP DATETIME,
	@P_CODIGO_SEG NVARCHAR(50),
	@P_TITULAR NVARCHAR(50)
AS
BEGIN
   INSERT INTO TBL_TARJETA (NUMERO,TIPO,FECHA_EXP,CODIGO_SEG,TITULAR) VALUES(@P_NUMERO,@P_TIPO,@P_FECHA_EXP,@P_CODIGO_SEG,@P_TITULAR)
   return 0;
END


GO
/****** Object:  StoredProcedure [dbo].[CRE_TIPO_TIQUETE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_TIPO_TIQUETE_PR]
	@P_TIPO nvarchar(50),
	@P_PRECIO INT
AS
	 INSERT INTO TBL_TIPO_TIQUETE(TIPO,PRECIO) VALUES (@P_TIPO,@P_PRECIO)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_TREN_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_TREN_PR]
	@P_MODELO NVARCHAR(50),
	@P_MATRICULA NVARCHAR(50),
	@P_NOMBRE NVARCHAR(50),
	@P_FECHA_COMPRA NVARCHAR(50),
	@P_COSTO DECIMAL(18,2),
	@P_DESCRIPCION NVARCHAR(100),
	@P_ESTADO NVARCHAR(50)
AS
	INSERT INTO TBL_TREN(MODELO,MATRICULA,NOMBRE,FECHA_COMPRA,COSTO,DESCRIPCION,ESTADO)
	VALUES (@P_MODELO,@P_MATRICULA,@P_NOMBRE,@P_FECHA_COMPRA,@P_COSTO,@P_DESCRIPCION,@P_ESTADO)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_USUARIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_USUARIO_PR]
	@P_CEDULA    NVARCHAR(50),
    @P_NOMBRE    VARCHAR(50),
    @P_TELEFONO  NVARCHAR(8),
	@P_ID_PUESTO INT,
	@P_CONTRASENA NVARCHAR(MAX), 
    @P_CORREO NVARCHAR(MAX)

AS
	INSERT INTO TBL_USUARIO (CEDULA,NOMBRE,TELEFONO,ID_PUESTO,CONTRASENA,CORREO) VALUES (@P_CEDULA,@P_NOMBRE,@P_TELEFONO,@P_ID_PUESTO,@P_CONTRASENA,@P_CORREO);
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_VAGON_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_VAGON_PR]
	@P_CANT_ASIENTOS VARCHAR(50),
	@P_ID_TREN VARCHAR(50)
AS
	INSERT INTO TBL_VAGON (CANT_ASIENTOS,ID_TREN) 
	VALUES (@P_CANT_ASIENTOS,@P_ID_TREN)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CRE_VIAJE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CRE_VIAJE_PR]
	@P_ID_HORARIO INT,
	@P_ID_RUTA INT,
	@P_ID_TREN INT
AS
	INSERT INTO TBL_VIAJE(ID_HORARIO,ID_RUTA,ID_TREN)
	VALUES (@P_ID_HORARIO,@P_ID_RUTA,@P_ID_TREN)
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[DEL_CLIENTE_NO_FRECUENTE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DEL_CLIENTE_NO_FRECUENTE_PR]
	@P_CEDULA NVARCHAR(50)
AS
BEGIN
   DELETE TBL_CLIENTES_NO_FRECUENTES 
   WHERE CEDULA = @P_CEDULA
return 0
END

SET ANSI_NULLS ON


GO
/****** Object:  StoredProcedure [dbo].[DEL_CLIENTE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DEL_CLIENTE_PR]
	@P_CEDULA NVARCHAR(50)
AS
BEGIN
   DELETE TBL_CLIENTE 
   WHERE CEDULA = @P_CEDULA
return 0
END

SET ANSI_NULLS ON


GO
/****** Object:  StoredProcedure [dbo].[DEL_CONVENIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_CONVENIO_PR]
	@P_ID int
AS
	Delete From TBL_CONVENIO Where ID=@P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[DEL_ESTACION_POR_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_ESTACION_POR_LINEA_PR]
	@P_ID_LINEA INT
AS
	DELETE 
	FROM TBL_ESTACIONES_POR_LINEA
	WHERE ID_LINEA = @P_ID_LINEA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[DEL_ESTACION_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_ESTACION_PR]
	@P_COD_ESTACION INT
AS
	DELETE 
	FROM TBL_ESTACION
	WHERE COD_ESTACION = @P_COD_ESTACION
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[DEL_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_LINEA_PR]
	@P_COD_LINEA INT
AS
	DELETE 
	FROM TBL_LINEA
	WHERE COD_LINEA = @P_COD_LINEA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[DEL_PERMISO_POR_PUESTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_PERMISO_POR_PUESTO_PR]
	@P_COD_PERMISO INT
AS
	DELETE TBL_PERMISO_PUESTO
	WHERE COD_PERMISO = @P_COD_PERMISO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[DEL_PERMISO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_PERMISO_PR]
	@P_CODIGO INT
AS
	DELETE TBL_PERMISO
	WHERE CODIGO = @P_CODIGO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[DEL_PUESTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_PUESTO_PR]
   @P_ID INT
   AS
   DELETE TBL_PUESTO
   WHERE ID = @P_ID
return 0


GO
/****** Object:  StoredProcedure [dbo].[DEL_TIPO_TIQUETE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_TIPO_TIQUETE_PR]
	@P_ID int
AS
	Delete From TBL_TIPO_TIQUETE Where ID=@P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[DEL_TREN_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_TREN_PR]
	@P_MATRICULA VARCHAR(50)
AS
	DELETE 
	FROM TBL_TREN
	WHERE MATRICULA = @P_MATRICULA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[DEL_USUARIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_USUARIO_PR]
	@P_CEDULA    NVARCHAR(50)
   
AS
	DELETE  FROM TBL_USUARIO
	WHERE CEDULA = @P_CEDULA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[DEL_VAGON_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEL_VAGON_PR]
	@P_ID INT
AS
	DELETE 
	FROM TBL_VAGON
	WHERE ID = @P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[Procedure]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Procedure]
	@param1 int = 0,
	@param2 int
AS
	SELECT @param1, @param2
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_ALL_HISTORIALVIAJES_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ALL_HISTORIALVIAJES_PR]

AS
	SELECT * FROM TBL_HISTORIALVIAJES
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_ASIENTOS_POR_VAGON_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ASIENTOS_POR_VAGON_PR]
    @P_ID_VAGON INT
AS
	SELECT *
	FROM TBL_ASIENTO
	WHERE ID_VAGON = @P_ID_VAGON
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_CLIENTE_AUTH_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE[dbo].[RET_CLIENTE_AUTH_PR]
	@P_CORREO NVARCHAR(MAX),
	@P_CONTRASENA NVARCHAR(MAX)
AS
	SELECT NOMBRE, CORREO, CONTRASENA
	from TBL_CLIENTE
	WHERE CORREO = @P_CORREO AND CONTRASENA = @P_CONTRASENA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_CLIENTE_NO_FRECUENTE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RET_CLIENTE_NO_FRECUENTE_PR]
	@P_CEDULA NVARCHAR(50)
AS
BEGIN
   SELECT * FROM TBL_CLIENTES_NO_FRECUENTES
   WHERE CEDULA = @P_CEDULA
return 0
END

GO
/****** Object:  StoredProcedure [dbo].[RET_CLIENTE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RET_CLIENTE_PR]
	@P_CEDULA NVARCHAR(50)
AS
BEGIN
   SELECT * FROM TBL_CLIENTE
   WHERE CEDULA = @P_CEDULA
return 0
END

GO
/****** Object:  StoredProcedure [dbo].[RET_CONVENIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_CONVENIO_PR]
	@P_NOMBRE varchar(50)
AS
	SELECT * FROM TBL_CONVENIO WHERE NOMBRE = @P_NOMBRE
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_ESTACION_CENTRAL]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ESTACION_CENTRAL]
	
AS
	SELECT * FROM TBL_ESTACION WHERE CENTRAL = 1
RETURN 0


GO
/****** Object:  StoredProcedure [dbo].[RET_ESTACION_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ESTACION_PR]
	@P_COD_ESTACION INT
AS
	SELECT CONVERT(VARCHAR(100),COD_ESTACION) AS COD_ESTACION, NOMBRE, ESTADO, LATITUD, LONGITUD, CENTRAL, KILOMETRO
	FROM TBL_ESTACION
	WHERE COD_ESTACION = @P_COD_ESTACION
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_ESTACIONES_POR_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ESTACIONES_POR_LINEA_PR]
    @P_ID_LINEA INT
AS
	SELECT CONVERT(VARCHAR(100), e.COD_ESTACION) AS COD_ESTACION, e.NOMBRE, e.ESTADO, e.LATITUD, e.LONGITUD, e.CENTRAL, e.UBICACION, e.KILOMETRO
	FROM TBL_ESTACION e
	INNER JOIN TBL_ESTACIONES_POR_LINEA el
	ON (e.COD_ESTACION = el.ID_ESTACION)
	INNER JOIN TBL_LINEA l
	ON (l.COD_LINEA = el.ID_LINEA)
	WHERE l.COD_LINEA = @P_ID_LINEA
	ORDER BY e.KILOMETRO ASC
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_HORARIO_BY_HORA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_HORARIO_BY_HORA_PR]
	@P_HORA_SALIDA NVARCHAR(50),
	@P_HORA_ARRIBO NVARCHAR(50),
	@P_FECHA_SALIDA NVARCHAR(50)
AS
	SELECT *
	FROM TBL_HORARIOS
	WHERE HORA_ARRIBO = @P_HORA_ARRIBO AND HORA_SALIDA = @P_HORA_SALIDA AND FECHA_SALIDA = @P_FECHA_SALIDA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_HORARIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_HORARIO_PR]
	@P_ID INT
AS
	SELECT *
	FROM TBL_HORARIOS
	WHERE ID = @P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_INCIDENCIA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RET_INCIDENCIA_PR]
	@P_CODIGO NVARCHAR(50)
AS
	SELECT * FROM TBL_INCIDENCIA WHERE CODIGO = @P_CODIGO
RETURN 0



GO
/****** Object:  StoredProcedure [dbo].[RET_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_LINEA_PR]
	@P_COD_LINEA INT
AS
	SELECT CONVERT(VARCHAR(100),COD_LINEA) AS COD_LINEA, NOMBRE, COLOR, DISTANCIA, ESTADO, ESTACION_INICIAL, ESTACION_FINAL, HORA_TRABAJO, CONVERT(VARCHAR(5),HORA_INICIO) AS HORA_INICIO, COSTO_CIRCULACION, COD_CENTRAL, DURACION_RECORRIDO
	FROM TBL_LINEA
	WHERE COD_LINEA = @P_COD_LINEA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_PERMISO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_PERMISO_PR]
	@P_CODIGO INT
AS
	SELECT * FROM TBL_PERMISO
	WHERE CODIGO = @P_CODIGO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_PUESTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[RET_PUESTO_PR]

   @P_ID int

   AS
   SELECT * FROM TBL_PUESTO
   WHERE ID = @P_ID
return 0

GO
/****** Object:  StoredProcedure [dbo].[RET_RUTA_BY_NOMBRE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_RUTA_BY_NOMBRE_PR]
	@P_NOMBRE NVARCHAR(50)
AS
	SELECT *
	FROM TBL_RUTA
	WHERE NOMBRE = @P_NOMBRE
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_RUTA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_RUTA_PR]
	@P_ID INT
AS
	SELECT *
	FROM TBL_RUTA
	WHERE ID = @P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_TIPO_TIQUETE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_TIPO_TIQUETE_PR]
	@P_TIPO varchar(50)
AS
	SELECT * FROM TBL_TIPO_TIQUETE WHERE TIPO = @P_TIPO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_TREN_BY_ID_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_TREN_BY_ID_PR]
	@P_ID INT
AS
	SELECT *
	FROM TBL_TREN
	WHERE ID = @P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_TREN_BY_NOMBRE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_TREN_BY_NOMBRE_PR]
	@P_NOMBRE NVARCHAR(50)
AS
	SELECT *
	FROM TBL_TREN
	WHERE NOMBRE = @P_NOMBRE
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_TREN_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_TREN_PR]
	@P_MATRICULA VARCHAR(50)
AS
	SELECT *
	FROM TBL_TREN
	WHERE MATRICULA = @P_MATRICULA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_ULTIMO_VAGON_REG_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_ULTIMO_VAGON_REG_PR]

AS
	SELECT * 
	FROM TBL_VAGON 
	WHERE Id = (SELECT MAX(Id) FROM TBL_VAGON) 
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_USUARIO_AUTH_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE[dbo].[RET_USUARIO_AUTH_PR]
	@P_CORREO NVARCHAR(MAX),
	@P_CONTRASENA NVARCHAR(MAX)
AS
	SELECT NOMBRE, CORREO, CONTRASENA, ID_PUESTO
	from TBL_USUARIO
	WHERE CORREO = @P_CORREO AND CONTRASENA = @P_CONTRASENA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_USUARIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_USUARIO_PR]
	@P_CEDULA NVARCHAR(50)
AS
	SELECT * FROM TBL_USUARIO
	WHERE CEDULA = @P_CEDULA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_VAGON_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_VAGON_PR]
	@P_ID INT
AS
	SELECT *
	FROM TBL_VAGON
	WHERE ID = @P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_VAGONES_POR_TREN_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_VAGONES_POR_TREN_PR]
	@P_ID_TREN INT
AS
	SELECT *
	FROM TBL_VAGON
	WHERE ID_TREN = @P_ID_TREN
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RET_VIAJE_BY_ID_HORARIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RET_VIAJE_BY_ID_HORARIO_PR]
	@P_ID_HORARIO INT,
	@P_ID_RUTA INT
AS
	SELECT *
	FROM TBL_VIAJE
	WHERE ID_HORARIO = @P_ID_HORARIO AND ID_RUTA = @P_ID_RUTA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_ACCION_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_ACCION_PR]

AS
	SELECT *
	FROM TBL_ACCION
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_ASIENTOS_ADULTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_ASIENTOS_ADULTO_PR]
	@P_ID VARCHAR(50)
AS
	SELECT *
	FROM TBL_ASIENTO
	WHERE TIPO = 'Adulto' AND ID_VAGON = @P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_ASIENTOS_ADULTOMAYOR_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_ASIENTOS_ADULTOMAYOR_PR]
	@P_ID VARCHAR(50)
AS
	SELECT *
	FROM TBL_ASIENTO
	WHERE TIPO = 'Adulto Mayor' AND ID_VAGON = @P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_ASIENTOS_POR_VAGON_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_ASIENTOS_POR_VAGON_PR]
	@P_ID_VAGON INT
AS
	SELECT *
	FROM TBL_ASIENTO
	WHERE ID_VAGON = @P_ID_VAGON
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_ASIENTOS_VIP_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_ASIENTOS_VIP_PR]
	@P_ID VARCHAR(50)
AS
	SELECT *
	FROM TBL_ASIENTO
	WHERE TIPO = 'VIP' AND ID_VAGON = @P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_CLIENTE_NO_FRECUENTE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RETALL_CLIENTE_NO_FRECUENTE_PR]
	
AS
BEGIN
   SELECT * FROM TBL_CLIENTES_NO_FRECUENTES
return 0
END

SET ANSI_NULLS ON


GO
/****** Object:  StoredProcedure [dbo].[RETALL_CLIENTE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RETALL_CLIENTE_PR]
	
AS
BEGIN
   SELECT * FROM TBL_CLIENTE
return 0
END

SET ANSI_NULLS ON


GO
/****** Object:  StoredProcedure [dbo].[RETALL_CONVENIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_CONVENIO_PR]

AS
	SELECT * FROM dbo.TBL_CONVENIO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_EMPRESA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_EMPRESA_PR]

AS
	SELECT * FROM TBL_EMPRESA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_ESTACIONES_POR_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_ESTACIONES_POR_LINEA_PR]
	@P_ID_LINEA INT
AS
	SELECT T_E.*
	FROM TBL_ESTACION T_E
	JOIN TBL_ESTACIONES_POR_LINEA T_E_L ON (T_E.COD_ESTACION = T_E_L.ID_ESTACION)
	WHERE T_E_L.ID_LINEA = @P_ID_LINEA
	ORDER BY T_E.KILOMETRO ASC
RETURN 0


GO
/****** Object:  StoredProcedure [dbo].[RETALL_ESTACIONES_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_ESTACIONES_PR]
	
AS
	SELECT CONVERT(VARCHAR(100),COD_ESTACION) AS COD_ESTACION, NOMBRE, ESTADO, LATITUD, LONGITUD, CENTRAL, KILOMETRO
	FROM TBL_ESTACION
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_EXCEPCIONES_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_EXCEPCIONES_PR]

AS
SELECT * 
FROM TBL_EXCEPCION

GO
/****** Object:  StoredProcedure [dbo].[RETALL_HORARIOS_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_HORARIOS_PR]
	
AS
	SELECT * FROM TBL_HORARIOS
RETURN 0


GO
/****** Object:  StoredProcedure [dbo].[RETALL_INCIDENCIAS_POR_TIPO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_INCIDENCIAS_POR_TIPO_PR]
	@P_TIPO VARCHAR(50)
AS
	SELECT * 
	FROM TBL_INCIDENCIA 
	WHERE TIPO = @P_TIPO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_LINEAS_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_LINEAS_PR]
	
AS
	SELECT CONVERT(VARCHAR(100),COD_LINEA) AS COD_LINEA, NOMBRE, COLOR, DISTANCIA, ESTADO, ESTACION_INICIAL, ESTACION_FINAL, HORA_TRABAJO, CONVERT(VARCHAR(5),HORA_INICIO) AS HORA_INICIO, COSTO_CIRCULACION, COD_CENTRAL, DURACION_RECORRIDO
	FROM TBL_LINEA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_PERMISO_POR_PUESTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_PERMISO_POR_PUESTO_PR]
    @P_COD_PUESTO INT
AS
    SELECT TBL_PERMISO.CODIGO,TBL_PERMISO.DESCRIPCION
	FROM TBL_PERMISO_PUESTO
	INNER JOIN TBL_PERMISO 
	ON TBL_PERMISO_PUESTO.COD_PERMISO = TBL_PERMISO.CODIGO
	WHERE TBL_PERMISO_PUESTO.COD_PUESTO = @P_COD_PUESTO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_PERMISO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_PERMISO_PR]
	
AS
	SELECT * FROM TBL_PERMISO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_PUESTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_PUESTO_PR]
   AS
   SELECT * FROM TBL_PUESTO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_RUTAS_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_RUTAS_PR]

AS
	SELECT *
	FROM TBL_RUTA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_TARJETA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RETALL_TARJETA_PR]

AS
BEGIN
  SELECT * FROM TBL_TARJETA
END


GO
/****** Object:  StoredProcedure [dbo].[RETALL_TIPO_TIQUETE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_TIPO_TIQUETE_PR]

AS
	SELECT * FROM dbo.TBL_TIPO_TIQUETE
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_TRENES_POR_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_TRENES_POR_LINEA_PR]
	@P_COD_LINEA INT
AS
	SELECT T_T.*
	FROM TBL_TREN T_T
	JOIN TBL_LINEA T_L 
	ON (T_L.COD_LINEA = T_T.COD_LINEA)
	WHERE T_T.COD_LINEA = @P_COD_LINEA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_TRENES_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_TRENES_PR]

AS
	SELECT *
	FROM TBL_TREN
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_USUARIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_USUARIO_PR]
	
AS
	SELECT u.CEDULA,u.NOMBRE,u.TELEFONO,TBL_PUESTO.NOMBRE as 'PUESTO',u.CORREO
	FROM TBL_USUARIO u
	INNER JOIN TBL_PUESTO
	ON u.ID_PUESTO = TBL_PUESTO.ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_VAGONES_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_VAGONES_PR]

AS
	SELECT * 
	FROM TBL_VAGON
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_VIAJES_BY_FECHA_RUTA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_VIAJES_BY_FECHA_RUTA_PR]
	@P_ID_RUTA INT,
	@P_FECHA_SALIDA NVARCHAR(50)
AS
	SELECT t.ID,t.ID_HORARIO,t.ID_RUTA,t.ID_TREN
	FROM TBL_VIAJE t
	INNER JOIN TBL_HORARIOS h ON h.ID=t.ID_HORARIO
    WHERE h.FECHA_SALIDA = @P_FECHA_SALIDA AND t.ID_RUTA = @P_ID_RUTA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETALL_VIAJES_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETALL_VIAJES_PR]
	
AS
	SELECT *
	FROM TBL_VIAJE
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETAUTENTIFICA_USUARIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE[dbo].[RETAUTENTIFICA_USUARIO_PR]
@P_CORREO NVARCHAR(MAX)
AS
Select ID_PUESTO,NOMBRE,CORREO,CONTRASENA from TBL_USUARIO
WHERE CORREO = @P_CORREO 

return 0

GO
/****** Object:  StoredProcedure [dbo].[RETNAME_ESTACION_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETNAME_ESTACION_PR]
	@P_NOMBRE VARCHAR(50)
AS
	SELECT CONVERT(VARCHAR(100),COD_ESTACION) AS COD_ESTACION, NOMBRE, ESTADO, LATITUD, LONGITUD, CENTRAL, KILOMETRO
	FROM TBL_ESTACION
	WHERE NOMBRE = @P_NOMBRE 
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETNAME_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETNAME_LINEA_PR]
	@P_NOMBRE VARCHAR(50)
AS
	SELECT CONVERT(VARCHAR(100),COD_LINEA) AS COD_LINEA, NOMBRE, COLOR, DISTANCIA, ESTADO, ESTACION_INICIAL, ESTACION_FINAL, HORA_TRABAJO, CONVERT(VARCHAR(5),HORA_INICIO) AS HORA_INICIO, COSTO_CIRCULACION, COD_CENTRAL, DURACION_RECORRIDO
	FROM TBL_LINEA
	WHERE NOMBRE = @P_NOMBRE
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[RETNAME_PUESTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RETNAME_PUESTO_PR]
	@P_NOMBRE NVARCHAR(50)
AS
	SELECT * FROM TBL_PUESTO
	WHERE NOMBRE = @P_NOMBRE
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_ASIENTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_ASIENTO_PR]
   @P_ID INT,
   @P_TIPO NVARCHAR(50)
   AS
   UPDATE TBL_ASIENTO
   SET TIPO = @P_TIPO
   WHERE ID = @P_ID
return 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_CLIENTE_NO_FRECUENTE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UPD_CLIENTE_NO_FRECUENTE_PR]
	@P_CEDULA NVARCHAR(50),
	@P_NOMBRE NVARCHAR(50),
	@P_APELLIDO NVARCHAR(50),
	@P_CORREO NVARCHAR(50),
	@P_TELEFONO NVARCHAR(50),
	@P_PROVINCIA NVARCHAR(50),
	@P_CANTON NVARCHAR(50),
	@P_DISTRITO NVARCHAR(50)
AS
BEGIN
   UPDATE  TBL_CLIENTES_NO_FRECUENTES 
   SET NOMBRE = @P_NOMBRE,
       APELLIDO = @P_APELLIDO,
	   CORREO = @P_CORREO,
	   TELEFONO = @P_TELEFONO,
	   PROVINCIA = @P_PROVINCIA,
	   CANTON = @P_CANTON,
	   DISTRITO = @P_DISTRITO
	   WHERE CEDULA = @P_CEDULA
return 0
END


GO
/****** Object:  StoredProcedure [dbo].[UPD_CLIENTE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UPD_CLIENTE_PR]
	@P_CEDULA NVARCHAR(50),
	@P_NOMBRE NVARCHAR(50),
	@P_APELLIDO NVARCHAR(50),
	@P_TELEFONO NVARCHAR(50),
	@P_RESIDENCIA NVARCHAR(100),
	@P_CORREO NVARCHAR(50),
	@P_CONTRASENA NVARCHAR(MAX),
	@P_EDAD INT

AS
BEGIN
   UPDATE  TBL_CLIENTE 
   SET NOMBRE = @P_CEDULA,
       APELLIDO = @P_APELLIDO,
	   CORREO = @P_CORREO,
	   TELEFONO = @P_TELEFONO,
	   RESIDENCIA = @P_RESIDENCIA
	   WHERE CEDULA = @P_CEDULA
return 0
END

SET ANSI_NULLS ON


GO
/****** Object:  StoredProcedure [dbo].[UPD_CONVENIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_CONVENIO_PR]
	@P_ID int,
	@P_NOMBRE nvarchar(50),
	@P_DESCUENTO decimal(18,2)
AS
	UPDATE TBL_CONVENIO
	SET NOMBRE = @P_NOMBRE, DESCUENTO = @P_DESCUENTO
	WHERE ID = @P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_EMPRESA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_EMPRESA_PR]

	@P_CED_JURIDICA nvarchar(50),
	@P_NOMBRE nvarchar(50),
	@P_DIRECCION nvarchar(50),
	@P_TELEFONO nvarchar(50),
	@P_CORREO nvarchar(50),
	@P_IMPUESTO nvarchar(50)

AS
	UPDATE TBL_EMPRESA
	SET CED_JURIDICA = @P_CED_JURIDICA, NOMBRE = @P_NOMBRE, DIRECCION = @P_DIRECCION, TELEFONO = @P_TELEFONO, CORREO = @P_CORREO, IMPUESTO = @P_IMPUESTO
	WHERE CED_JURIDICA = CED_JURIDICA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_ESTACION_POR_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_ESTACION_POR_LINEA_PR]
	@P_ID_LINEA INT,
	@P_ID_ESTACION INT
AS
	UPDATE TBL_ESTACIONES_POR_LINEA
	SET ID_LINEA = @P_ID_LINEA, ID_ESTACION = @P_ID_ESTACION
	WHERE ID_LINEA = @P_ID_LINEA AND ID_ESTACION = @P_ID_ESTACION
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_ESTACION_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_ESTACION_PR]
	@P_COD_ESTACION INT,
	@P_NOMBRE VARCHAR(250),
	@P_ESTADO VARCHAR(50),
	@P_LATITUD FLOAT(53),
	@P_LONGITUD FLOAT(53),
	@P_CENTRAL INT,
	@P_KILOMETRO INT
AS
	UPDATE TBL_ESTACION
	SET NOMBRE = @P_NOMBRE, ESTADO = @P_ESTADO, LATITUD = @P_LATITUD, LONGITUD = @P_LONGITUD, CENTRAL = @P_CENTRAL,
	UBICACION = geography::Parse('POINT(' + CAST(@P_LONGITUD AS VARCHAR(20)) + ' ' + CAST(@P_LATITUD AS VARCHAR(20)) + ')'),
	KILOMETRO = @P_KILOMETRO
	WHERE COD_ESTACION = @P_COD_ESTACION
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_LINEA_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_LINEA_PR]
	@P_COD_LINEA INT,
	@P_NOMBRE VARCHAR(250),
	@P_COLOR VARCHAR(50),
	@P_DISTANCIA INT,
	@P_ESTADO VARCHAR(50),
	@P_ESTACION_INICIAL INT,
	@P_ESTACION_FINAL INT,
	@P_HORA_TRABAJO INT,
	@P_HORA_INICIO VARCHAR(50),
	@P_COSTO_CIRCULACION DECIMAL(18, 2),
	@P_COD_CENTRAL INT,
	@P_DURACION_RECORRIDO INT
AS
	UPDATE TBL_LINEA
	SET NOMBRE = @P_NOMBRE, COLOR = @P_COLOR, DISTANCIA = @P_DISTANCIA, ESTADO = @P_ESTADO, ESTACION_INICIAL = @P_ESTACION_INICIAL, ESTACION_FINAL = @P_ESTACION_FINAL, HORA_TRABAJO = @P_HORA_TRABAJO, HORA_INICIO = CONVERT(DATETIME,REPLACE(@P_HORA_INICIO, '.', ':')), COSTO_CIRCULACION = @P_COSTO_CIRCULACION, COD_CENTRAL = @P_COD_CENTRAL, DURACION_RECORRIDO = @P_DURACION_RECORRIDO
	WHERE COD_LINEA = @P_COD_LINEA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_LINEA_TREN_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_LINEA_TREN_PR]
	@P_KILOMETRO INT,
	@P_COD_LINEA VARCHAR(50),
	@P_MATRICULA VARCHAR(50)

AS
	UPDATE TBL_TREN
	SET KILOMETRO = @P_KILOMETRO, COD_LINEA = @P_COD_LINEA
	WHERE MATRICULA = @P_MATRICULA
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_PERMISO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_PERMISO_PR]
	@P_CODIGO INT,
	@P_DESCRIPCION NVARCHAR(100)
AS
	UPDATE TBL_PERMISO
	SET  DESCRIPCION = @P_DESCRIPCION
	WHERE CODIGO = @P_CODIGO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_PUESTO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_PUESTO_PR]
   @P_ID INT,
   @P_NOMBRE NVARCHAR(50)
   AS
   UPDATE TBL_PUESTO
   SET NOMBRE = @P_NOMBRE
   WHERE ID = @P_ID
return 0


GO
/****** Object:  StoredProcedure [dbo].[UPD_TIPO_TIQUETE_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_TIPO_TIQUETE_PR]
	@P_ID int,
	@P_TIPO nvarchar(50),
	@P_PRECIO INT
AS
	UPDATE TBL_TIPO_TIQUETE
	SET TIPO = @P_TIPO, PRECIO = @P_PRECIO
	WHERE ID = @P_ID
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_TREN_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_TREN_PR]

	@P_MODELO NVARCHAR(50),
	@P_MATRICULA NVARCHAR(50),
	@P_NOMBRE NVARCHAR(50),
	@P_FECHA_COMPRA NVARCHAR(50),
	@P_COSTO DECIMAL(18,2),
	@P_DESCRIPCION NVARCHAR(100),
	@P_ESTADO NVARCHAR(50)

AS
	UPDATE TBL_TREN
	SET MODELO = @P_MODELO,NOMBRE = @P_NOMBRE ,FECHA_COMPRA = @P_FECHA_COMPRA,COSTO = @P_COSTO,DESCRIPCION = @P_DESCRIPCION,ESTADO = @P_ESTADO
	WHERE MODELO = @P_MODELO
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[UPD_USUARIO_PR]    Script Date: 20/09/2016 13:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPD_USUARIO_PR]
	@P_CEDULA    NVARCHAR(50),
    @P_NOMBRE    VARCHAR(50),
    @P_TELEFONO  NVARCHAR(8),
	@P_ID_PUESTO	 INT,
	@P_CONTRASENA NVARCHAR(MAX), 
    @P_CORREO NVARCHAR(20)

AS
	UPDATE TBL_USUARIO
	SET NOMBRE = @P_NOMBRE,
	    TELEFONO = @P_TELEFONO,
		ID_PUESTO = @P_ID_PUESTO,
		CONTRASENA = @P_CONTRASENA,
		CORREO = @P_CORREO
     WHERE CEDULA = @P_CEDULA;
RETURN 0

GO
USE [master]
GO
